USE [master]
GO
/****** Object:  Database [dwf]    Script Date: 10/19/2020 11:34:56 PM ******/
CREATE DATABASE [dwf]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dwf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DWF_SQL\MSSQL\DATA\dwf.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dwf_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DWF_SQL\MSSQL\DATA\dwf_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dwf].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dwf]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 10/19/2020 11:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[RecipeId] [int] NOT NULL,
	[Name] [ntext] NOT NULL,
	[Id] [int] NOT NULL,
	[Quantity] [ntext] NULL,
	[Measurement] [ntext] NULL,
 CONSTRAINT [PK_Ingredients_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 10/19/2020 11:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Recipe] [ntext] NOT NULL,
	[Description] [ntext] NULL,
	[Likes] [int] NOT NULL,
	[Type] [tinyint] NOT NULL,
 CONSTRAINT [PK_Recipes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/19/2020 11:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [nchar](30) NOT NULL,
	[Id] [int] NOT NULL,
	[Password] [nchar](30) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_Ingredients] FOREIGN KEY([RecipeId])
REFERENCES [dbo].[Recipes] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_Ingredients]
GO
USE [master]
GO
